{% extends "layout.html" %}

{% block pageTitle %}
  Routes to Work
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Digital</h1>
    <h2 class="govuk-heading-l">Routes to Work</h2>

    <p>
        This field is in very high demand. You can build your experience by attending hackathons.
    </p>
    <p>
      Congratulations, your age qualifies you to qualify for the <a href="https://www.gov.uk/government/collections/kickstart-scheme">Kickstart</a> program.
    </p>

    </div>
  </div>

{% endblock %}