{% extends "layout.html" %}

{% block pageTitle %}
  Hack2Work
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Congratulations!</h1>
        <div class="govuk-panel__body">
          Your answers indicate that you are someone who enjoys working within a team.
          You are...
        </div>
      </div>

      <h2 class="govuk-heading-m">Suggested roles</h2>

      <p>
        We've selected the following job roles which may be of interest to 
        you based on your skills and experience.
        Click on one of the roles below to find out more about how to get a
        role in this field.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/digital">Digital</a></li>
        <li><a href="/care-work">Care Work</a></li>
        <li><a href="/hospitality">Hospitality</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
