{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Congratulations!</h1>
        <div class="govuk-panel__body">
          Your answers indicate that you are a great team worker, capable of 
          analysing complex data and giving great presentations.
        </div>
      </div>

      <h2 class="govuk-heading-m">Suggested roles</h2>

      <p>
        We've selected the following job roles which may be of interest to 
        you based on your skills and experience.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="">Marketing</a></li>
        <li><a href="">Driver</a></li>
        <li><a href="">Software Developer</a></li>
        <li><a href="">Finance</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
