* {
    box-sizing: border-box;
}

.submit-button {
    margin-top: 10px;
}

.response {
    margin: 5px;
}

.results-container {
    display: flex;
    justify-content: center;
    text-align: center;
}